@import '../../../../assets/Scss/mixins/gap';

.animate__bounceOut {
  display: none;
}

.categories__gestion {
  @include gap;
  .item__gestion {
    @include gap-separation;
    .btn {
      font-size: 1.2rem;
      border-radius: 0rem;
    }

  }
}
