<p-tabMenu [model]="items"></p-tabMenu>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li [ngClass]="i === position.length - 1 ? 'breadcrumb-item h5 active' : 'breadcrumb-item h5'" *ngFor="let item of position; let i = index" (click)="goToPage(i)">{{item.label}}</li>
  </ol>
</nav>

<section>
    <div>
      <h3>bezkoder.com</h3>
      <h4>Subir Archivos</h4>
    </div>

    <div class="my-3">
      <app-upload-form></app-upload-form>
    </div>
</section>

<section #pages class="categories animate__bounceIn">
  <div class="row">
    <div class='col-12 col-lg-6 mt-4' *ngFor="let item of [1,1,1,1]" (click)="openPage(1, true)">
      <div class="category">
        <div class='category__image'>
          <img src="assets/Images/Demo/comida.png" alt="Comida">
        </div>
        <div class='category__info'>
          <h3>Alimento</h3>
          <p>
            Contiene pictogramas de alimentos, categorizados por: Lacteos, Carnes, Frutas, etc.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

<section #pages class="categories subcategory animate__bounceOut">
  <div class="row">
    <div class='col-12 col-lg-6 mt-4' *ngFor="let item of [1,1,1,1,1,1,1]; let i=index" >
      <div class="category" (click)="openPage(2, true)">
        <div class='category__image'>
          <img src="assets/Images/Demo/lacteos.png" alt="Comida" *ngIf="i%2 === 0">
          <img src="assets/Images/Demo/verduras.png" alt="Comida" *ngIf="i%2 === 1">
        </div>
        <div class='category__info'>
          <h3>Alimento</h3>
          <p *ngIf="i%2 === 0">
            Contiene pictogramas de Lacteos.
          </p>
          <p *ngIf="i%2 === 1">
            Contiene pictogramas de Verduras.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section #pages class="categories panel animate__bounceOut">
  <app-grid-drag-drop></app-grid-drag-drop>
</section>


