@import "../../../../assets/Scss/mixins/gap";
@import "../../../../assets/Scss/variables";
.animate__bounceOut {
  display: none;
}

.categories__gestion {
  @include gap;
  .item__gestion {
    @include gap-separation;
    .btn {
      font-size: 1.2rem;
      border-radius: 0rem;
    }
  }
}

.breadcrumb-bg {
  background-color: lighten($color: $primary, $amount: 50%);
  li {
    cursor: pointer;
  }
}
