// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vitaapp-ucuenca-admin-primary: mat-palette($mat-indigo);
$vitaapp-ucuenca-admin-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vitaapp-ucuenca-admin-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vitaapp-ucuenca-admin-theme: mat-light-theme(
  (
    color: (
      primary: $vitaapp-ucuenca-admin-primary,
      accent: $vitaapp-ucuenca-admin-accent,
      warn: $vitaapp-ucuenca-admin-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($vitaapp-ucuenca-admin-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "assets/Scss/header";
@import "assets/Scss/footer";
@import "assets/Scss/couters";
@import "assets/Scss/category";
@import "assets/Scss/mixins/gap";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif !important;
  font-weight: 200;
  background-color: #f5f7fa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif !important;
  font-weight: 500;
}

$custom-typography: mat-typography-config(
  $font-family: "Oswald, sans-serif",
  $headline: mat-typography-level(42px, 48px, 700),
  $title: mat-typography-level(32px),
  $subheading-2: mat-typography-level(24px),
  $subheading-1: mat-typography-level(20px),
  $body-1: mat-typography-level(1rem, 24px),
);

@include angular-material-typography($custom-typography);

#notify-vitaapp {
  cursor: pointer;
  position: fixed;
  left: 0px;
  z-index: 9999;
  bottom: 0px;
  width: 100%;
  .alert {
    margin: 0px;
  }
}

.breadcrumb {
  .active {
    color: $primary;
  }
}

.title {
  position: relative;
  padding-left: 0.75rem;
  &::before {
    top: 0px;
    left: 0px;
    position: absolute;
    content: " ";
    height: 100%;
    width: 0.25rem;
    background: $primary;
  }
}

.color__container {
  @include gap;
  flex-wrap: wrap;
  .color__item {
    @include gap-separation;
    position: relative;
    label {
      height: 2.5rem;
      width: 2.5rem;
      border: 4px solid $primary;
      border-radius: 0.5rem;
    }
    input[type="radio"] {
      position: absolute;
      left: -1000em;

      &:checked ~ label {
        border-color: greenyellow;
      }
    }
  }
}

