<section>
  <h1 class="title">{{ pageCurrent }}</h1>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-bg">
      <li
        [ngClass]="
          i === 0 ? 'breadcrumb-item h2 m-0 active' : 'breadcrumb-item h2 m-0'
        "
        *ngFor="let item of subMenuNavigation; let i = index"
      >
        {{ item }}
      </li>
    </ol>
  </nav>
</section>
<section #pages class="categories animate__bounceIn">
  <section class="form__custom">
    <p-fieldset
      p-fieldset
      legend="Agregar Categoria"
      [toggleable]="true"
      [collapsed]="true"
    >
      <app-form-category
        (reloadCateries)="getAllCategories()"
      ></app-form-category>
    </p-fieldset>
  </section>
  <section class="form__custom overflow-hidden">
    <app-collapse-panel #collapsePanelCat>
      <app-form-edit-category
        #formEditCategory
        (reloadCateries)="collapsePanelCatAndReload()"
        (collapse)="collapseEditCategory()"
      ></app-form-edit-category>
    </app-collapse-panel>
  </section>

  <div class="row" *ngIf="areTheAreCategories">
    <div
      class="col-12 col-md-6 col-lg-4 mt-4"
      *ngFor="let category of categories"
    >
      <app-card
        [category]="category"
        (clickContent)="openSubcategory(category.categoryId)"
        (clickEdit)="editCategory(category)"
        (clickDelete)="deleteCategory(category)"
      ></app-card>
    </div>
  </div>
  <div class="row" *ngIf="!areTheAreCategories">
    <div
      class="col-12 col-md-6 col-lg-4 mt-4"
      *ngFor="let category of skeletonCategories"
    >
      <app-skeleton-card [typeSkeleton]="1"></app-skeleton-card>
    </div>
  </div>
  <div class="error__message" *ngIf="areTheAreCategories && !categories.length">
    <div class="error__image">
      <img src="assets/Images/svg/028-folder.svg" alt="folder" />
    </div>
    <div class="error__text">No hay categorías agregadas por el momento.</div>
  </div>
</section>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  key="positionDialog"
  [position]="'top'"
  [baseZIndex]="10000"
  #cd
>
  <p-footer>
    <button type="button" class="btn btn-primary" (click)="cd.reject()">
      <i class="pi pi-times"></i> Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="cd.accept()">
      <i class="pi pi-check"></i> Aceptar
    </button>
  </p-footer>
</p-confirmDialog>

<p-toast key="toastHelper" position="top-right"></p-toast>
